<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2 custom-block">

			<h1 align="center">Reset Password</h1><br>

			<%= form_tag password_resets_path, :class=>"form-horizontal", :method => :post do %>

			<div class="control-group">
				<label class="control-label">
					<%= label_tag :email, "Email" %>
				</label>
				<div class="controls">
					<%= text_field_tag :email, params[:email], :placeholder=>"Email" %>
				</div>

			</div>

			
			<div align="center">
				<%= submit_tag "Reset Password", :class=>"btn btn-primary" %>
			</div>

			<% end %>
			
		</div>
	</div>
</div>
