<script type="text/javascript">
    window.onload = function()
    {
       alert(document.getElementById('1')));
       document.getElementById('1').addClass('active');
    }


    </script>

<div class="container">
	<div class="row-fluid">

		<div class="span2 custom-block">
			<ul class="nav nav-list">
				<li class="nav-header">Producers</li>
				<% @producers.each do |producer| %>
				<li class="divider"></li>
				<li><!--<%= producer.id.to_s %>--><%= link_to (producer.display_name, show_in_index_inventory_path(producer), :remote => true)%>
					</li>
				
				<% end %>

				<li class="divider"></li>
			</ul>
		</div>


		<div class="span10 custom-block">
			<span id="producer_info">
				<div align="center">
	<br>
				<p>View our producers by clicking the links on the left!</p>
			</div>
			</span>
		</div>
	</div>
</div>

