<script type="text/javascript">

// add the 'active' class to whatever link is clicked
// and remove it from whatever was active before

$(document).ready(function() {

$('.category_list').hide();

	$('.producer_link a').click(function() {
		$('li').each(function() {
			$(this).removeClass('active')
		});
		$(this).parent().addClass('active');

// hide all the old categories if you're just clicking between producers
$('.category_filter').hide();
$('.category_list').show();
	}); // end click

});


</script>

<div class="container">
	<div class="row-fluid">
		<div class="tabbable tabs-left">

			<ul class="span2 nav nav-tabs">
				<li class="nav-header">Producers</li>
				<% @producers.each do |producer| %>
				<li class="producer_link"> 
					<%= link_to(producer.display_name, show_in_index_inventory_path(producer), 
					:remote => true)%>
				</li>
				
				<% end %>

					<li class="nav-header category_list">Categories</li>
				</ul>


		<div class="tab-content span10 custom-block">
			<span id="producer_info">
				<div align="center">
					<h2><%= @title %></h2>
					<br>
					<p>View our producers by clicking the links on the left!</p>
				</div>
			</span>
		</div>




	</div>
</div>

