<script type="text/javascript">

$(document).ready(function() {

// hide the categories title when you haven't yet selected a producer
$('.category_list').hide();

// make active or inactive whatever producer link you click
	$('.producer_link a').click(function() {
		$('li').each(function() {
			$(this).removeClass('active')
		});
		$(this).parent().addClass('active');

// hide all the old categories if you're just clicking between producers
$('.category_filter').hide();
$('.category_list').show();
	}); // end click

}); // end ready


</script>

<div class="container">
	<div class="row-fluid">
		<div class="tabbable tabs-left">


			<ul class="span2 nav nav-tabs" style="width: 100px;">

				<li class="producer_link"> 
					<%= link_to("All Products", show_all_categories_path, 
					:remote => true, :style=>'padding-left: 4px; font-size: 13px;')%>
				</li>

				<li class="nav-header">Producers</li>
				
				<% @producers.each do |producer| %>
				<li class="producer_link"> 
					<%= link_to(producer.display_name, show_in_index_inventory_path(producer), 
					:remote => true, :style=>'padding-left: 4px; font-size: 13px;')%>
				</li>
				
				<% end %>

					<li class="nav-header category_list">Categories</li>
				</ul>


		<div class="tab-content span10 custom-block" style="width: 820px;">
			<span id="producer_info">
				<div align="center">
					<h2><%= @title %></h2>
					<br>
					<p>View our producers by clicking the links on the left!</p>
				</div>
			</span>
		</div>




	</div>
</div>




