<script type="text/javascript">

$(document).ready(function() {

// make active or inactive whatever producer link you click
$('.producer_link a').click(function() {
	$('li').each(function() {
		$(this).removeClass('active')
	});
	$(this).parent().addClass('active');

	}); // end click

$('.producer_a').data('test', 'false');


}); // end ready

</script>


<div class="container">
	<div class="row-fluid">
		<div class="tabbable tabs-left">

			<ul id="inventory-sidebar" class="nav nav-tabs">
				<li id="all_link" class="producer_link active"> 
					<%= link_to("All Products", show_all_categories_path, 
					:remote => true)%>
				</li>

				<li class="nav-header">Producers</li>
				

				<% @producers.each do |producer| %>
				<li class="producer_link"> 
					<%= link_to(producer.display_name, show_in_index_inventory_path(producer), 
					:remote => true)%>
				</li>
				
				<% end %>

				<!-- Fixes inability for <IE9 to load inventory partials -->
				<!--[if lt IE 9]>
				 <style type="text/css">

				 #inventory-sidebar {
					position: static;
				 }

				.producer_link {
					display: none !important;
				}

				.ie-link a {
  					padding-left: 4px !important;
  					font-size: 13px !important;
				}
				 </style>

				<% @producers.each do |producer| %>
				<li class="ie-link"> 
					<%= link_to(producer.display_name, inventory_path(producer), 
					:remote => false)%>
				</li>
				<% end %>

				<![endif]-->

			</ul>


			<div id="inventory-panel" class="tab-content custom-block" style=" padding-top: 0;">
				<div id="producer_info">
					<%= render :partial => 'categories/show', :locals => {:@items => @items} %>
				</div>
			</div>

		</div>
	</div>
</div>





