<script type="text/javascript">

    function activate(e)
    {
	var lis = document.getElementsByTagName("li");	
	e.parentNode.className = "active";
	for (var i = 0; i < lis.length; i++)
		if (lis[i].className === "active" && !(lis[i] == e.parentNode))
		{
			lis[i].className = "";
		}
    }
    </script>

<div class="container">
	<div class="row-fluid">
		<div class="tabbable tabs-left">
			<ul class="span2 nav nav-tabs">
			<!-- <li class="nav-header">Producers</li> -->
				<% @producers.each do |producer| %>
				<li> <%= link_to (producer.display_name, show_in_index_inventory_path(producer), 
					:remote => true, :onclick => 'activate(this)')%>
					</li>
				<li class="divider"></li>
				<% end %>
			</ul>
		


		<div class="tab-content span10 custom-block">
			<span id="producer_info">
				<div align="center">
				<h2><%= @title %></h2>
				<br>
				<p>View our producers by clicking the links on the left!</p>
			</div>
			</span>
		</div>
	</div>
	</div>
</div>

