<script type="text/javascript">

$(document).ready(function() {

// make active or inactive whatever producer link you click
$('.producer_link a').click(function() {
	$('li').each(function() {
		$(this).removeClass('active')
	});
	$(this).parent().addClass('active');

	}); // end click

}); // end ready


</script>

<div id="all-products-container" class="container">
	<div class="row-fluid">
		<div class="tabbable tabs-left">

			<ul id="inventory-sidebar" class="nav nav-tabs">

				<li class="producer_link active"> 
					<%= link_to("All Products", show_all_categories_path, 
					:remote => true)%>
				</li>

				<li class="nav-header">Producers</li>
				
				<% @producers.each do |producer| %>
				<li class="producer_link"> 
					<%= link_to(producer.display_name, show_in_index_inventory_path(producer), 
					:remote => true)%>
				</li>
				
				<% end %>

				<li class="nav-header category_list">
					Categories
				</li>
			</ul>


			<div id="inventory-panel" class="tab-content custom-block">
				<div id="producer_info">
					<div align="center">
						<%= render :partial => 'categories/show', :locals => {:@items => Item.all} %>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>





