<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hello Grinnell Local Food <%= @greeting %>!</h2>
      <%= @text %>
  </body>
  <p><%= @signoff %></p>
</html>
