<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hello!</h2>
      <%= @text %>
  </body>
  <p>Grinnell Local Foods Admins</p>
</html>
