<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hi <%= @user.first_name %></h2>
      <%= @text %>
      <p>Have a great day!</p>
  </body>
  <p>Grinnell LocalFoods Admins</p>
</html>
