#notice {
  color: green;
}

.field_with_errors {
/*  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 1px;
  padding-bottom: 0px;
  background-color: blue;
  display: table;*/
  color: #b94a48;

}

/*Between 140 and 220 (span3)*/
.span2-half {
  width: 180px;
}

.offset2-half {
  margin-left: 220px;
}

.offset1-half {
  margin-left: 180px;
  color: green;
}


#logohead {
margin-top: 4px;

}

.center {
    display:inline-block;
}

.custom-block {
  text-align: justify;

  -webkit-box-shadow: 0 0px 10px #C5C5C5;
     -moz-box-shadow: 0 0px 10px #C5C5C5;
          box-shadow: 0 0px 10px #C5C5C5;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: white;
}

#editpassword {
  background-image:url(/img/apple_blah.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /*background-position: 0px 0px;*/
  /*background-size: cover;*/
}

#hero-image-unit {
  position:absolute;
  left:0px;
  top:106px;
  background-position: center;
  background-size: cover;
  background-image:url(/img/DSC_2825-4-small-edit.jpg);
  background-repeat: no-repeat;
  width:100%;
  height:400px;
}

.hero-text {
  margin-top: 110px;
  margin-left: 20%;
  margin-right: 5%;
  width: 681px;
  text-align: justify;
 /* margin-right: 10%;*/
  /*margin-left: 500px;*/
  color: white;
}

.hero-text h2{
  font-size: 35px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-text p{
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -1px;
}

#hero-image-unit h2 {
  min-width: 800px;
  margin-top: 60px;
  margin-right: 10%;
  font-size: 35px;
  line-height: 1;
  letter-spacing: -1px;
  color: white;

}

#hero-image-unit li {
  line-height: 30px;
}

#hero-image-unit p {
  min-width: 450px;
  text-align: justify;
  margin-top: 20px;
  margin-left: 40%;
  margin-right: 10%;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -1px;
  color: white;

}


#error_explanation {
 -moz-border-radius: 7px;
  border-radius: 7px;
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: white;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: blue;
  color: white;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}





.home_alert { 
 position:absolute;
  left:0px;
  top:106px;
padding: 8px 0px 8px 0px;
/*text-indent: 14px;*/
width: 100%;
text-align: center;

color: #c09853;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;

}

.home_alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.home_alert-danger,
.home_alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.home_alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.home_alert .close {
  position: relative;
  top: -2px;
  right: 10px;
  line-height: 20px;
}

.home_notice { 
 position:absolute;
  left:0px;
  top:70px;
padding: 8px 0px 8px 0px;
/*text-indent: 14px;*/
width: 100%;
text-align: center;

color: #c09853;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;

}

.home_notice-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.home_notice-danger,
.home_notice-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.home_notice-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.home_notice .close {
  position: relative;
  top: -2px;
  right: 10px;
  line-height: 20px;
}

#inv_price_field{
width: 180px;

}




.navbar-inner-inner {
  min-height: 0px;
  padding-right: 20px;
  padding-left: 20px;
  /*padding-top: 8px;*/
  padding-bottom: 8px;

padding-top: 8px;
background-color: white;

color: white;
/*background-color: #F5F5F5;*/
background-color: #595959;


/*  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;*/

 
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.085);
     -moz-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.085);
          box-shadow: 0 5px 4px rgba(0, 0, 0, 0.085);
          box-shadow: 0 5px 4px rgba(0, 0, 0, 0.085);

/*box-shadow: 0px 0px 4px #C5C5C5;*/


}

.navbar-inner-inner:before,
.navbar-inner-inner:after {
  display: table;
  line-height: 0;
  content: "";
}

.navbar-inner-inner:after {
  clear: both;
}

.navbar-fixed-top .navbar-inner-inner,
.navbar-static-top .navbar-inner-inner {
  border-width: 0 0 1px;
}

.navbar-fixed-top .navbar-inner-inner,
.navbar-fixed-bottom .navbar-inner-inner {
  padding-right: 0;
  padding-left: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}


.navbar-fixed-top .navbar-inner-inner,
.navbar-static-top .navbar-inner-inner {
/*  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);*/
}