#notice {
  color: green;
}

.field_with_errors {
/*  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 1px;
  padding-bottom: 0px;
  background-color: blue;
  display: table;*/
  color: #b94a48;

}

#error_explanation {
 -moz-border-radius: 7px;
  border-radius: 7px;
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: white;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: blue;
  color: white;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.test_box {
border: 2px solid green;

}
