

<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2 custom-block">

			<h1 align="center">Change Password</h1><br>
			

			<%= render 'changepasswordform' %>



<!--
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
-->

</div>
</div>
</div>

