<div class="container">
	<div class="row">
		<div class="span8 offset2 custom-block">

			<h1 align="center">Change Password</h1><br>
			
			<%= render 'changepasswordform' %>

		</div>
	</div>
</div>



