<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6 offset3">

			<h1 align="center">Change Password</h1><br>

			<%= render 'changepasswordform' %>

<!--
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
-->

</div>
</div>
</div>
