<div class="container">
	<div class="row">
		<div class="span8 offset2 custom-block">

		<% if signed_in? %> 
			<h1 align="center">Add User</h1>
		<% else %>
			<h1 align="center">Sign Up</h1><br>
		<% end %>


			<%= render 'form' %>

		</div>
	</div>
</div>