<p id="notice"><%= notice %></p>

<p>Hello <%= @user.first_name %>!</p>

<p>You are a
<% if @user.farmer %>
farmer
<% end %>

<% if @user.member %>
member
<% end %>

<% if @user.coordinator %>
coordinator
<% end %>

<% if @user.admin %>
admin
<% end %>
</p>
