<p id="notice"><%= notice %></p>

<p>Hello <%= @user.first_name %>!</p>

<p>Your Roles:
<% if @user.farmer %>
</p> Farmer
<% end %>

<% if @user.member %>
</p> Member 
<% end %>

<% if @user.coordinator %>
</p> Coordinator 
<% end %>

<% if @user.admin %>
</p> Admin 
<% end %>

</p>

<% if current_user.admin %>
<%= link_to 'Add User', new_user_path %>
<% end %>
<% if current_user.admin || current_user.coordinator %>
<%= link_to 'Show Users', users_path %>
<% end %>

</p>
