<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4 offset4">

			

			<h2 align="center">Hello <%= @user.first_name %>!</h2>

<div align="center">
			<strong>Your Roles:</strong>
			
			<% if @user.member %>
			Member 
			<% end %>

			<% if @user.farmer %>
			, Farmer
			<% end %>

			<% if @user.coordinator %>
			, Coordinator 
			<% end %>

			<% if @user.admin %>
			, Admin

			<br><br>
			<%= link_to 'Add user', new_user_path, 
					:class=>"btn" %>
			<%= link_to 'Show Users', users_path, 
					:class=>"btn" %>

			<% end %>

			
			
			
			</div>


		</div>
	</div>
</div>