<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6 offset3">

			<h2>Hello <%= @user.first_name %>!</h2>

			<strong>Your Roles:</strong>
			<% if @user.farmer %>
			<br><br>Farmer
			<% end %>

			<% if @user.member %>
			<br><br>Member
			<% end %>

			<% if @user.coordinator %>
			<br><br>Coordinator 
			<% end %>

			<% if @user.admin %>
			<br><br> Admin 
			<% end %>

			<br><br>
			<% if current_user.admin %>
				<%= link_to 'Add User', new_user_path,
					:class=>"btn" %>
			<% end %>
			<% if current_user.admin || current_user.coordinator %>
				<%= link_to 'Show Users', users_path,
					:class=>"btn" %>
			<% end %>

			
		</div>
	</div>
</div>
