<p id="notice"><%= notice %></p>

<p>Hello <%= @user.first_name %>!</p>

<p>Your Roles:
<% if @user.farmer %>
</p> Farmer
<% end %>

<% if @user.member %>
</p> Member 
<% end %>

<% if @user.coordinator %>
</p> Coordinator 
<% end %>

<% if @user.admin %>
</p> Admin
</p> 
<%= link_to 'Add user', new_user_path %>
<%= link_to 'Show Users', users_path %>
<% end %>

</p>
