<% if signed_in? %>
<script type="text/javascript">
$(document).ready(function() {

   $('#modified_cart_link').click(function() {

    $('#cart_modal').modal({
      remote: '<%= show_in_modal_cart_path(current_user.cart.id) %>'
    });

 }); // close click

}); // close document ready

</script>
<% end %>

<div class=" margin-ten" align="center">
	<div class="alert alert-success fade in" style="margin-top: -20px; margin-bottom: 25px;">
    	<a class="close" data-dismiss="alert" href="#">&times;</a>
    		<p>The following items in your cart have changed:</p>
    		<% @changed_items.each_pair do |item, reason| %>
    	    <p><%= item.name + " : " + reason %></p>
    		<% end %>
    		<a href="#" id="modified_cart_link" >View Modified Cart</a>
	</div>
</div>