<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2 custom-block">

 <%= render :partial => 'cart_change' unless @changed_items.empty? %>

			<div class=" margin-ten" align="center">
				<h2>Payment</h2>
				<p>
					By clicking this button you're committing to pay for the items at pick-up.
				</p>

				<div id="purchase-buttons">
					<%= form_for(@purchase, :url => url_for({:controller => "purchases", :action => "create"})) do |f| %>
					<%= f.submit "Потвърди поръчка", :class=>"btn btn-large btn-primary" %>
					<% end %>
				</div>

			</div>

		</div>

	</div>
</div>
