<div class="container">
	<div class="row-fluid">
		<div class="span10 offset1 custom-block">

			<div id="about-image-unit">
				<h1 id ="about-title">About Us</h1>
			</div>

			<div id="about">
				<%= simple_format(ApplicationState.about_text) %>
			</div>
		</div>
	</div>
</div>