<div class="container">
	<div class="row-fluid">
		<div class="span10 offset1 custom-block">
			<div id="pickup_info">

				<h2 align="center">About Us</h2>

					<p>
						Forthcoming
					</p>

				</div>
			</div>
		</div>
	</div>