<div class="container">
	<div class="row-fluid">
		<div class="span10 offset1 custom-block">

			<div id="acknowledgements-image-unit">
				<h1 id ="acknowledgements-title">Acknowledgements</h1>
			</div>

			<div id="acknowledgements">

				<h3>BAD COPY REWRITE ME</h3>

				<h5>This package of scripts for the Grinnell Food Coop has evolved in several stages.</h5>

				<ul>
					<li>The original idea for a Web-based arose during conversations between computer science faculty, Janet Davis and Henry Walker, in September, 2008.</li>

					<li>Conversations between Henry Walker and Food Coop leaders, Hart Ford-Hodges and Neal Wepking, during November 2008 identified basic needs for this system.</li>

					<li>This project was included as an option for team development for the course, CSC 325, Databases and Web Application Design during first semester, 2008. Two teams developed prototypes for this system during November-December 2008. Team members included Trevor Austin, Steven Muschler & Talent Takundwa (Team A), and Scott McIntyre & Sam Tape (Team B).</li>

					<li>Each team made a presentation to the Food Coop leaders during exam week, December 2008.</li>

					<li>The Food Coop leadership reviewed both prototype systems during the January break, and leaders Neal Wepking and Amelia Freeberg discussed possible adjustments and refinements with Henry Walker in January, 2009.</li>

					<li>During January/February, 2009, student Steven Muschler had the time, interest, and skill to work with Henry Walker to produce a first released system, labeled Version 2.0.</li>

					<li>Professor Janet Davis' Spring 2011 CSC-232 Human-Computer Interaction class conducted a contextual inquiry, which identified high priority items for the Coop, and made a prototype.</li>

					<li>As part of a Summer 2011 MAP, students Chase Felker (2012) and Radka Slamova (2013) worked with Professor Janet Davis and Coop Coordinator Lee Rodman to improve site usability for members and coordinators. Janet Davis continued to fix bugs through 2011-2012.</li>
				</ul>
			</div>


		</div>
	</div>
</div>