<div id ="hero-image-unit">
	<% if signed_in? %>
	<br>
	<% end %>
	
	<h2 align="right">Welcome to the Grinnell Local Foods Coop!</h2>
	<p>Support local farmers, local economy, and environmental sustainability by purchasing quality food grown right here in central Iowa. The Grinnell Local Foods Coop connects you to farmers, making it convenient for you to buy fresh, local, sustainably grown foods. In our monthly orders, we offer everything our farmers have in season: produce, grains, honey, herbs, certified Organic products and more.

		<br><br>
		<% if !signed_in? %>
		<%= link_to "Sign Up!", register_path,
		:class=>"btn btn-large" %>
		<% end %>
	</p>

</div>

</div>
<div style="margin:500px">
</div>
