<div class="container">
	<div class="row-fluid">
		<div id="home-unit-one" class="span12 custom-block">

			<% if notice %>
			<div class="alert alert-success fade in home-alert">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<%= notice %>
			</div>
			<% end %>

			<% if alert %>
			<div class="alert alert-success fade in home-alert">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<%= alert %>
			</div>
			<% end %>

			<div id="hero-image-unit">

				<div class="row-fluid">
					<div id="hero-text">
						<h2>Welcome to the Grinnell Local Foods Coop</h2>
						<p class="hero-blurb">
							Support local farmers, local economy, and environmental sustainability by purchasing quality food grown right here in central Iowa.
						</p>

						<% if !signed_in? %>
						<p class="hero-blurb">
							<%= link_to "Sign Up!", register_path, :id=>"sign-up-button", :class=>"btn btn-large btn-light-gray"%>
						</p>
						<% end %>
						
					</div>
				</div>
			</div>

			<div id="current-order-state">
				<h3 class="margin-five">
					<% if ApplicationState.orders_open? %>
					Orders are currently open
					<% else %>
					Orders are currently closed
					<% end %>
				</h3>
			</div>


		</div>
	</div>
</div>
<div class="container">
	<div class="row-fluid">
		<div id="home-unit-two" class="span12 custom-block">

			<div id="info-graphic" class="row-fluid">
				<div id="info-left" class="span4" align="center">
					<div class="margin-five">
						<a href="/register">
						<img src="assets/flat/clipboard.png" class="info-icon"></img>
						<h3 >Join the Coop</h3>
					</a>
						<p>
							By signing up on this website or in person, and buying a membership.
						</p>
					</div>
				</div>
				<div id="info-center" class="span4" align="center">
					<div class="margin-five">
						<a href="/inventories">
						<img src="assets/flat/bag.png" class="info-icon"></img>
						<h3>Make your order</h3>
						</a>
						<p>
							Find what you want, add it to cart, and pay either online or at pickup.
						</p>
					</div>
				</div>
				<div id="info-right"class="span4" align="center">
					<div class="margin-five">
						<a href="/pickup_info">
						<img src="assets/flat/map.png" class="info-icon"></img>
						<h3>Pickup your goods</h3>
						</a>
						<p>
							After receiving an email about times and location at the end of each order period.
						</p>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
<div class="container">
	<div class="row-fluid">
		<div id="home-unit-three" class="span12 custom-block">

			<div id="announcements-unit">
				<div class="row-fluid">
					<div id="announcements" class="margin-five">
						<h3 align="left">Announcements</h3>
						<%= simple_format(ApplicationState.announcements) %>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
</div>