<% if notice %>
<div class="home-notice home-notice-success fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= notice %>
</div>
<% end %>

<% if alert %>
<div class="home-alert home-alert-success fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= alert %>
</div>
<% end %>

<div class="container custom-block">


	<div id="hero-image-unit">

		<div class="row-fluid" align="right">
			<div id="hero-text">
				<h1>Welcome to the Grinnell Local Foods Coop</h1>
				<p>Support local farmers, local economy, and environmental sustainability by purchasing quality food grown right here in central Iowa.

					<br><br>
					<% if !signed_in? %>
					<%= link_to "Sign Up!", register_path,
					:class=>"btn btn-large" %>

					<% end %>
				</p>
			</div>
		</div>

	</div>

<!-- <div style="background-color:#485556; margin-top: -10px;">
<h3 class="margin-two-five" style="color: white;">Orders are currently closed
</h3>
</div> -->


	<br><br>

	<div class="row-fluid">
		<div class="span4" align="center">
			<img src="assets/flat/clipboard.png" width="90"></img>
			<h3>Join the Coop</h3>
			<p>
				By signing up on this website or in person, and buying a $5 annual membership.
			</p>
		</div>
		<div class="span4" align="center">
			<img src="assets/flat/bag.png" width="90"></img>
			<h3>Place your order</h3>
			<p>
				Find what you want, add it to cart, and pay either online or at pickup.
			</p>
		</div>
		<div class="span4" align="center">
			<img src="assets/flat/map.png" width="90"></img>
			<h3>Pickup your goods</h3>
			<p>
				After receiving an email about times & location at the end of each order period.
			</p>
		</div>

	</div>


	<br><br><br>






<!-- <div class="container" style="background-color: #485556; margin-top: 5px; margin-bottom: 5px;">
<h3 class="margin-two-five" style="color:white;">Announcements</h3>
</div> -->



<div id="announcements-unit" style="padding-top: 10px; padding-bottom: 40px; margin-bottom: -30px;">
	<div class="row-fluid">
		<div id="announcements" class="margin-five">
			<h3 align="right">Announcements</h3>
			<p>
				Welcome to the Grinnell Local Foods Coop! Orders will be open Jan 31 to Feb 7. Pickup will be on Feb 14 in the Quad. New members may create and account and place an order by following the link in the upper right corner. You will be asked to pay a membership fee when you pick up your order (see pickup information for more details). Happy ordering! Questions or comments? Send us an email!
			</p>
			<p>
				If you are not on our email list, contact coordinators at <strong>localfood@grinnell.edu</strong>.
			</p>
		</div>
	</div>
</div>
</div>


</div>