<div class="container">
	<div class="row-fluid">
		<div class="span10 offset1 custom-block">

			<div id="pickup-image-unit">
				<h1 id="pickup-title">Pickup Information</h1>
			</div>

			<div id="pickup-info">

				<%= simple_format(ApplicationState.pickup_info_text) %>

				<h3>Calendar</h3>
				<div class="flexible-iframe">
					<iframe src="https://www.google.com/calendar/embed?src=gn64eji9bob97jg4fsrcr4nbe8%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
				</div>

			</div>
		</div>
	</div>
</div>