<div class="container">
	<div class="row-fluid">
		<div class="span10 offset1 custom-block">
			<div id="about">

				<h2 align="center">Order Pickup Information</h2>

					<h3>Ordering Information</h3>
					<p>
						Distribution days are listed below. On each of those days, you can either pick your order up between 12:00 and 1:00 pm or 4:30 to 5:30 P.M. in the Local Foods Coop. Located off of East Street on the Grinnell College campus in the Main dormitory, near the old Quad dining hall. To access the space, walk or drive to the outside door along East Street. There is a pull in for pick ups and parking spaces. The door is the one farther from the street. Please bring checks or cash made out to Local Foods Coop to the pick-up. New members are required to pay a membership fee of $5 for students and $10 for faculty and community members. The membership is good for 1 year. Members also have the option of paying a $25 lifetime membership fees. The money goes towards defraying regular operational costs and towards funding events. 
					</p>

					<h3>Missing pick-up</h3>
					<strong>
						Please e-mail localfood@grinnell.edu if you will not be able to make a pick-up time and cannot have someone come in your place. All orders must be paid for and picked up by the Friday after distribution. 
					</strong>

					<h3>Bring your bags!</h3>
					<p>
						Bring your own canvas bags and containers so we can reduce the number of plastic bags we use!
					</p>

					<h3>Donations</h3>
					<p>
						Please consider making a small donation ($1 to $3) to help us off-set current and future transportation costs. Donations are completely optional. 
					</p>

					<h3>Contact Us</h3>
					<p>
						Send an e-mail to localfood@grinnell.edu if you need to be added to our list to receive reminders about ordering and pick-up. 
					</p>

					<h3>Calendar</h3>
					<div class="flexible-iframe">
					<iframe src="https://www.google.com/calendar/embed?src=gn64eji9bob97jg4fsrcr4nbe8%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
					</div>

				</div>
			</div>
		</div>
	</div>