<div class="container">
	<div class="row">
		<div class="span8 offset2 custom-block">

			<!-- <div class="custom-block"> -->

		<% if signed_in? %> 
			<h1 align="center">Add Item for a Producer</h1><br>

		<% end %>

			
			<%= render 'admin_coord_itemform' %>

		</div>
	</div>
</div>