<div class="container">
	<div class="row">
		<div class="span8 offset2 custom-block">

			<!-- <div class="custom-block"> -->

		<% if signed_in? %> 
			<h2 align="center">Add Item for a Producer</h2><br>

		<% end %>

			
			<%= render :partial => 'admin_coord_itemform' %>
		</div>
	</div>
</div>