<div class="container">
	<div class="row">
		<div class="span8 offset2 custom-block">

			<!-- <div class="custom-block"> -->

		<% if signed_in? %> 
			<h1 align="center">Edit Item</h1><br>

		<% end %>

			<%= render 'edit_itemform', :locals => {@item => @item}%>

		</div>
	</div>
</div>
