<script type="text/javascript">

    function activate(e)
    {
    var lis = document.getElementsByTagName("li");  
    e.parentNode.className = "active";
    for (var i = 0; i < lis.length; i++)
        if (lis[i].className === "active" && !(lis[i] == e.parentNode))
        {
            lis[i].className = "";
        }
    }
    </script>

<div class="container">
    <div class="row-fluid">
        <div class="tabbable tabs-left">
            <ul class="span2 nav nav-tabs">
                <li> <%= link_to ("All Products", show_all_categories_path, 
                    :remote => true, :onclick => 'activate(this)')%> </li>

                <% @categories.each do |category| %>
                <li> <%= link_to (category.name, show_by_category_category_path(category), 
                    :remote => true, :onclick => 'activate(this)')%>
                    </li>
                <li class="divider"></li>
                <% end %>
            </ul>
        


        <div class="tab-content span10 custom-block">
            <span id="category_info">
                <div align="center">
                <h2><%= @title %></h2>
                <br>
                <p>View items by category!</p>
            </div>
            </span>
        </div>
    </div>
    </div>
</div>

