<script type="text/javascript">
// add the 'active' class to whatever link is clicked
// and remove it from whatever was active before
$(document).ready(function() {
    $('.category_link a').click(function() {
        $('li').each(function() {
            $(this).removeClass('active')
        });
        $(this).parent().addClass('active');
    });
});
    </script>

<div class="container">
    <div class="row-fluid">
        <div class="tabbable tabs-left">
            <ul class="span2 nav nav-tabs">
                
                <% @categories.each do |category| %>
                <li class="category_link"> <%= link_to(category.name, show_by_category_category_path(category), 
                    :remote => true )%>
                    </li>
                <li class="divider"></li>
                <% end %>
            </ul>
        


        <div class="tab-content span10 custom-block">
            <span id="category_info">
                <div align="center">
                <h2>Products</h2>
                <br>
                <p>View all products or view them by category!</p>
            </div>
            </span>
        </div>
    </div>
    </div>
</div>

