<!-- item show_in_modal.html.erb -->

<script type="text/javascript">
$(document).ready(function() {

// ADD TO CART BEHAVIOR

// replace default link behavior
$('.modal_add_to_cart').attr('data-remote', true);

$('.modal_add_to_cart').click(function() {

	$(this).replaceWith('<button class="btn btn-primary disabled">Added to Cart</button>');

   }); // end click
// // END ADD TO CART BEHAVIOR

}); // end ready
</script>

<div id="item_show">

	<%= render :partial => 'show'%>

	<div class="modal-footer" style="margin-left: -15px; margin-right: -15px; margin-bottom: -15px;">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Continue Shopping</button>

		<% if signed_in? %> 
		<%= link_to "Add to Cart", cart_items_path(:item_id => @item), :remote => false, :method => :post, 
		:class => "modal_add_to_cart btn btn-primary" %>
		<% end %>

	</div>

</div>

