@media (max-width: 767px) {

.hero-text {
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 5%;
  width: 690px;
  text-align: justify;
  color: white;
}

.hero-text h2{
  font-size: 20px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-text p{
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -1px;
}

}