<script type="text/javascript">

$(document).ready(function() {
$('#category-field').focus();

}); //end ready

</script>

<%= form_for(@category, :url => url_for(:controller => 'categories', :action => 'create')) do |f| %>


<div style="margin-bottom: 20px;" align="center">
    <%= f.text_field :name, :placeholder=>"Category Name", :id=>"category-field", :style=>"margin-top: 8px;" %>

    <%= f.submit "Add Category", :class=>"btn btn-info", :style=>"margin-top: -2px;" %>
</div>

<% end %>

