<script type="text/javascript">

$(document).ready(function() {
$('#category-field').focus();

}); //end ready

</script>

<%= form_for(@category, :url => url_for(:controller => 'categories', :action => 'create')) do |f| %>


<div style="margin-bottom: 20px;" align="center">
    <label style="display: inline; padding-right: 20px;">
    	Category Name *
    </label>
    <%= f.text_field :name, :placeholder=>"Category Name", :id=>"category-field", :style=>"margin-top: 8px; margin-right: -4px;" %>

    <%= f.submit "Add Category", :class=>"btn btn-primary", :style=>"margin-top: -2px;" %>
</div>

<div align="center" style="color: gray">
  * Denotes required field
</div>

<% end %>

