<script type="text/javascript">

$(document).ready(function() {
$('#category_field').focus();

}); //end ready

</script>

<%= form_for(@category, :url => url_for(:controller => 'categories', :action => 'create'), :html=>{:class=>'form-horizontal'}) do |f| %>


<div class="control-group" style="margin-top: 20px">
  <label class="control-label">
    <%= f.label :name, "Category Name *" %>
  </label>
  <div class="controls">
    <%= f.text_field :name, :placeholder=>"Category Name", :id=>"category_field" %>
  </div>
</div>

<div class="control-group controls">
<%= f.submit "Add Category", :class=>"btn btn-primary" %>
</div>

<div align="center" style="color: gray">
  * Denotes required field
</div>

<% end %>

