<div class="container">
	<div class="row">
		<div class="span8 offset2 custom-block">

		<% if current_user.admin %> 
			<h1 align="center">Add Category</h1><br>
			<%= render 'categories_addform' %>
		<% end %>

		</div>
	</div>
</div>