<script type="text/javascript">
$(document).ready(function() {

	$('#social-icons').css('display', 'inline');
	$('#facebook').click(fbs_click);
    $('#twitter').click(twitter_click);

	function fbs_click()
	{
		u=location.href;
		t=document.title;
		window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer', 'toolbar=0, status=0, width=626, height=436'); 
		return false;
	}

	function twitter_click()
	{
		message = encodeURIComponent(document.title);
		url = encodeURIComponent(location.href);
		link = 'http://www.twitter.com/share?text=' +message+'&url='+url;
		window.open(link,'sharer', 'toolbar=0, status=0, width=626, height=436'); 
		return false;
	}

  

}); // end ready

</script>


<footer class="footer">

	<div id="social-icons">

			<img id="facebook" alt="Share On Facebook" src="/assets/f_logo_140.png">

			<img id="twitter" alt="Share On Twitter" src="/assets/twitter_bird_140.png">

	</div>

	<div id="footer-text" class="container">
		<small>
			<p>For questions about the Coop, contact localfood@grinnell.edu. For problems with the web site, contact davisjan@grinnell.edu.</p>

			<p>This site was developed by the Grinnell College Department of Computer Science. 
				<%= link_to("Acknowledgments", acknowledgments_path)%></p>
			</small>
		</div>

	</footer>

