<footer class="footer">
	<small>
	<% if signed_in? %>
		<li><%= link_to "Log Out", logout_path, :method => :delete %></li>
		<% else %>
		<li><%= link_to "Register", register_path %></li>
		<li><%= link_to "Log In", login_path %></li>
		<% end %>
	</small>
</footer>

