<div id="old-ie-warning">
	
	<p>
		Uh oh...it looks like you're using a version of Internet Explorer below 9. You'll need to <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">upgrade*</a> or download <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a> or <a href="http://www.google.com/chrome">Google Chrome</a>, as the site just isn't going to work properly otherwise.
	</p>

	<p id="ie-warning-note">
		*If you're still using Windows XP you won't be able to get a new enough version of IE, so go the Firefox or Chrome route instead.
	</p>

</div>
