<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>

<%= stylesheet_link_tag :application %>	

<script type="text/javascript">

$(document).ready(function() {
$('[data-toggle="tooltip"]').tooltip();

}); //end ready

</script>

</head>
	<body>
	<%= yield %>
	</body>
</html>
